@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    --margin: 329px;
    --max-width: 1274px;
    width: min(var(--max-width, 100%));
    margin-inline: auto;
}

.container>div {
    display: grid;
    grid-template-columns: 20% 50% 30%;

    /* flex-direction: column; */
}